/* Concepts taken from Every Layout, by Heydon Pickering and Andy Bell
https://every-layout.dev */


/* ---- The Stack ------  */
/* Injects top margin between sibling elements, to create space when one element sits on top of another */

.stack > * + * {
  margin-block-start: 1.5rem;
}

/* Removing the > will allow the spacing to affect elements at any nesting level */

/* Alternatively, a nested variant */

[class^="stack"] > * {
  margin-block: 0;
}

.stack-large > * + * {
  margin-block-start: 3rem;
}

.stack-small > * + * {
  margin-block-end: 0.5rem;
}



/*-------  The Box -----------*/
/* Exactly what the name suggests.  Note that by using inherit, you can change colors in one place*/

.box {
  padding: var(--s1);
}

.box * {
  color: inherit;
}


/* A tip for making sure that a borderless box doesn't get mucked up in High Contrast Mode:  using a transparent outline*/

.box {
  outline: 0.125 rem solid transparent;
  outline-offset: -0.125rem;
}