/* note to self about font sizes:  can change the root size with media queries and then, so long as I keep sizing everything in rems, all text will be automatically sized up and down.  brilliant! */

@media (min-width: 960px) {
  :root {
    font-size: 125%;
  }
}

/* as an alternative, use viewport units and calc() to introduce more subtle scaling */

:root {
  font-size: calc(1rem + 0.5vw);
}

/* the above would ensure that the font-size never drops below 1rem */

/* a use case for ems:  connecting the size of a child inline element to its parent, particularly in the case of an icon that accompanies a heading or other text element */


/* ideas about modular scale: 
use line height as the basis for extrapolating values, utilizing a modular scale
base height = line height
next step up = line height * line height
next step up = line height * line height * line height */

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

/* could also consider using the so-called "golden ratio" of 1.618 */


/* setting a standard text width */

:root {
	--measure: 60ch;
}

* {
	max-inline-size: var(--measure);
}

html, body, div, header, nav, main, footer, article, section {
	max-inline-size: none;
}