/* bar that appears underneath links when they're hovered over */

.menu-link {
  position: relative;
}

.menu-link::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 0;
  background-color: white;
  transition: 0.3s;
}

.menu-link:hover::after {
  width: 100%;
  transition: all linear 250ms;
}

/* Positioning an item in a middle of the screen */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Perfect centering via grid */

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}
