li {
  list-style: none;
}

.dropmenu {
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.dropmenu-burger {
  width: 40px;
  height: 4px;
  margin-right: min(25px, 4vw);
  background: black;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  transform:translateX(10px);
}

.dropmenu-burger::before,
.dropmenu-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.dropmenu-burger::before {
  transform: translateY(-14px);
}

.dropmenu-burger::after {
  transform: translateY(14px);
}

/* Animation */

.dropmenu.open .dropmenu-burger {
  background: transparent;
}

.dropmenu.open .dropmenu-burger::before {
  transform: rotate(45deg);
  background-color: #fff;
}

.dropmenu.open .dropmenu-burger::after {
  transform: rotate(-45deg);
  background-color: #fff;
}


/* ----- Navigation Menu -------- */

.menu {
  position: absolute;
  background: #000;
  margin-left: -10px;
  z-index: -1;
  height: 100vh;
  top: 0;
  width: 0%;
  transition: 0.5s;
  overflow: hidden;
}

.menu  .links {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding: 10vw 0;
}

 .menu .links li a {
   display: block;
   padding:15px 14px;
   text-decoration:none;
   color:#FFF;
   transition: 0.2s;
 }


.menu .links li:hover a {
  transform: scale(1.4);
  transition: 0.2s;
}

.menu.open {
  display: block;
  width: min(50vw, 250px);
}

