<!DOCTYPE html>
<html lang="en">

<head>
  <title>The incredible shifting burger button</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="burger.css">
</head>

<body>

  <div class="dropmenu">
    <div class="dropmenu-burger">
    </div>
  </div>

  <nav class="menu">
    <ul class="links">
      <li><a href="#about" class="drop-link">About</a></li>
      <li><a href="./services.html" class="drop-link">Services</a></li>
      <li><a href="#projects" class="drop-link">Projects</a></li>
      <li><a href="#contact" class="drop-link">Contact</a></li>
    </ul>
    <ul class="social-media">
      <li><a href="https://twitter.com/NicoleBarnabee"><img src="./assets/images/twitter-black.svg" alt="Twitter"></a>
      </li>
      <li><a href="#"><img src="assets/images/linkedin-black.svg" alt="LinkedIn"></a>
      </li>
      <li><a href="#"><img src="./assets/images/github-black.svg" alt="GitHub"></a>
      </li>
    </ul>
  </nav>

  <script src="burger.js"></script>
</body>

</html>