.card {
  background-color: var(--color-light);
  width: min(90%, 300px);
  margin: 20px auto;
  padding: min(4vw, 15px);
  border: 1px solid var(--color-dark);
  box-shadow: 0 2px 5px rgba(19, 18, 18, 0.2);
}

.card>* {
  margin-inline: auto;
}

.card>*+* {
  margin-top: 10px;
  text-align: center;
  width: 95%;
}

.card>img {
  display: block;
  max-width: 100%;
  width: 80%;
}


/* ---- And with the cards, a container ---- */

.projects>.container {
  width: 90%;
  margin-inline: auto;
  margin-top: var(--s1);
  display: grid;
  grid-gap: min(2vw, 2rem);
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));

}