.card {
  background-color: var(--white);
  width: min(90%, 300px);
  margin: 150px auto;
  padding: min(4vw, 15px);
  border-radius: 10px;
}

.card * + * {
  margin-top: 10px;
  text-align: center;
  width: 95%;
  margin-inline: auto;
}

.card > img {
  max-width: 100%;
  border-radius: 5px;
}